# String Manuplation

In [1]:
a="aditi"

In [2]:
a

'aditi'

In [3]:
b="goyal"

In [4]:
b

'goyal'

In [5]:
s="this is my fouth class in full stack data science course"

In [6]:
s[0]

't'

In [7]:
s[9]

'y'

In [8]:
len(s)

56

In [9]:
s[4:10:2]

' sm'

In [10]:
for i in range(len(s)):
    print(s[i])

t
h
i
s

i
s

m
y

f
o
u
t
h

c
l
a
s
s

i
n

f
u
l
l

s
t
a
c
k

d
a
t
a

s
c
i
e
n
c
e

c
o
u
r
s
e

In [11]:
"Aditi"+" "+"goyal"

'Aditi goyal'

In [12]:
"Aditi"+" "+str("1990")

'Aditi 1990'

In [13]:
"Aditi"*4

'AditiAditiAditiAditi'

In [14]:
a.find("d")

1

In [15]:
a="my name is aditi"

In [16]:
a.find("name")

3

In [17]:
a.index("m")

0

In [18]:
b= s.find("class")
for i in range(len("class")):
    print(b+i)

17
18
19
20
21

In [19]:
s.count("name")

0

In [20]:
a.split()

['my', 'name', 'is', 'aditi']

In [21]:
a.upper()

'MY NAME IS ADITI'

In [22]:
a.lower()

'my name is aditi'

In [23]:
" ".join(s)

't h i s   i s   m y   f o u t h   c l a s s   i n   f u l l   s t a c k   d a t a   s c i e n c e   c o u r s e'

In [24]:
s[::-1]

'esruoc ecneics atad kcats lluf ni ssalc htuof ym si siht'

In [25]:
s.rstrip()

'this is my fouth class in full stack data science course'

In [26]:
s="greeting from ineoron"

In [27]:
s.center(20, 'b')

'greeting from ineoron'

In [28]:
a= "we all are a part of full stack"

In [29]:
# Print entire string in lower case
a.lower()

'we all are a part of full stack'

In [30]:
# Give the number of "a" in string
a.count("a")

5

In [31]:
# give the indexes of all "a"
for i in range(len(a)):
    if a[i]=="a":
        print(i)

3
7
11
14
28

In [32]:
list(a)

['w',
 'e',
 ' ',
 'a',
 'l',
 'l',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'a',
 ' ',
 'p',
 'a',
 'r',
 't',
 ' ',
 'o',
 'f',
 ' ',
 'f',
 'u',
 'l',
 'l',
 ' ',
 's',
 't',
 'a',
 'c',
 'k']

In [33]:
a.replace("a","ineoron")

'we ineoronll ineoronre ineoron pineoronrt of full stineoronck'

In [34]:

# Checking upper case of string
s.isupper()

False

In [35]:
# Checking lower case of string
s.islower()

True

In [36]:
s.isalpha()

False

In [37]:
for i in s:
    print(i)

g
r
e
e
t
i
n
g

f
r
o
m

i
n
e
o
r
o
n

In [38]:
count=0
for i in s:
    count=count+1
print(count)

21

In [39]:
s= "aditi"
ch=len(s)-1
while ch>=0 :
    print(s[ch])
    ch=ch-1

i
t
i
d
a

In [40]:
name="ineoron"
vowels="hedwhjy3uys"

for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is not a vowel
n is not a vowel
e is a vowel
o is not a vowel
r is not a vowel
o is not a vowel
n is not a vowel

In [41]:
"{} name is aditi".format("my")

'my name is aditi'

In [42]:
a= input()
b= input()

my
is

In [43]:
"{} name {} sudh".format(a,b)

'my name is sudh'

In [44]:
a="xyx"
b=2002
c="eye"
d="aditi"

In [46]:
s= input("enter a data for which you would like to check pelindrom")
s1= s[::-1]
if s==s1:
    print("it is same")
else:
    print("its not same")

enter a data for which you would like to check pelindromxyx
it is same

In [47]:
l=["aditi",67, 789, 654]

In [48]:
l[3]

654

In [51]:
s="aditi"
a= list(s)
a

['a', 'd', 'i', 't', 'i']

In [52]:
l*2

['aditi', 67, 789, 654, 'aditi', 67, 789, 654]

In [53]:
len(l)

4

In [54]:
l

['aditi', 67, 789, 654]

In [55]:
"aditi" in l

True