In [1]:
notes = 5
i= 1
j=1
while i< notes:
    print(i)
    i=i+1                                   # or i+=1
else:
    
    while j< 2:
        print(i)
        j=j+1
    print("no 10rs notes are available ")

1
2
3
4
5
no 10rs notes are available

In [2]:
s= "my name is sudh"

In [3]:
s[3:10]

'name is'

In [4]:
s[3:10:2]

'nm s'

In [5]:
s[::-1]

'hdus si eman ym'

In [6]:
s[10:3:-2]

' iea'

In [7]:
s[2:-6]

' name i'

In [8]:
s[-2]

'd'

In [9]:
for i in s:
    if i=="s":
        print("i got s as a string")
    print(i)

m
y

n
a
m
e

i
i got s as a string
s

i got s as a string
s
u
d
h

In [10]:
for i in s:
    if i== "n":
        continue
    print(i)
else :
    if i=="u":
        print("last character is u")
    print("this is a else condition")

m
y

a
m
e

i
s

s
u
d
h
this is a else condition

In [11]:
s= "ineuron"
ss=" "
for i in range (len(s)):
    if s[i]=="n":
        continue
    else:
         ss= ss+s[i]

In [12]:
ss

' ieuro'

In [13]:
len(s)

7

In [14]:

for i in range(0,7):
    for j in range(0,i+1):
        print("+" , end="")
    print("\r")

+
++
+++
++++
+++++
++++++
+++++++

In [15]:
n=7
for i in range(n,0,-1):
    for j in range(n-i):
        print(" " , end="")
    for j in range(2*i-1):
        print("*", end="")
    print()

*************
 ***********
  *********
   *******
    *****
     ***
      *

In [16]:
n=9
i=0
while i<n: 
    print(" "*(n-i-1) + '*'*'i+1')
    i=i+1

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
for i in range(8,4,-1):
    print(i)

In [ ]:
l=list()

In [ ]:
name="sudh"
Phno=875899483
addr= "jhiufkjerfj"
name , phno, addr="sudh", 98598594, "dfjdhj"

In [ ]:
l=["sudh", 85985, "jfhjhd"]

In [ ]:
l= ["Sudh", 34535, "hghghghg", True, 45+6j, [5,7,4,3], 9.7875]

In [ ]:
for i in l:
    print(type(i))

In [ ]:
for i in l:
    if type(i)== list:
        for j in i:
            print(type(j))

In [ ]:
l[0:5]

In [ ]:
l[8:3:1]

In [ ]:
for i in range(4,50):
    print(i)

In [ ]:
list(range(10))

In [ ]:
for i in range(4,10):
    print(i)